body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

header {
    color: white;
    background-color: rgb(59, 59, 59);
    grid-column: 1/4;
    margin-top: 0;
    padding: 20px 0;
    text-align: center;

}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

header h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin: 0;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 20px;
    text-align: left;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(24, 10, 10);
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding: 20px;
}

main {
    background-color: bisque;
    grid-column: 2/3;

}

main h2 {
    color: black;
}

aside {
    background-color: sandybrown;
    grid-column: 3/4;
    text-align: center;

}

footer {
    background-color: rgb(24, 10, 10);
    grid-column: 1/4;
    text-align: center;

}